#root {
	width: 100%;
}

.card-holder,
.card-holder2 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}

.card {
	display: flex;
	flex-direction: column;
	flex: 1 1 25%;
	&.double {
		flex: 2;
	}

	> * {
		flex: 1;
	}
	> h1 {
		font-size: 2rem;
		font-weight: 700;
		margin-bottom: 1rem;
		flex: 2;
	}
}
