.nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	background-color: #bbc197;
	padding: 10px;
	justify-content: space-between;
	a {
		/* max-width: 100px; */
		word-break: keep-all;
		white-space: nowrap;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 100px;
	}
}
